<?xml version="1.0" encoding="utf-8"?><Battle type="BattleUtil">	<Fleet side="1" form="1"><!--友方舰队-->		<Ship loc="1" cid="11024" level="110" affection="200" skill="1">			<Equipment loc="1" eid="11001"/>			<Equipment loc="2" eid="11001"/>			<Equipment loc="3" eid="11002"/>			<Equipment loc="4" eid="11003"/>		</Ship>	</Fleet>	<Fleet side="0" form="1"><!--敌方舰队-->		<Ship loc="1" cid="00016" level="50" affection="50" skill="1"/>	</Fleet></Battle>